<ul id="slide-out" class="side-nav leftside-navigation" style="transform: translateX(0px);">
	<li>
		<div class="userView">
			<div class="background indigo">
			</div>
			<a href="#!user"><img class="circle" src="assets/skrollex.png"></a>
			<a href="#!name"><span class="white-text name">{{ user.Name }}</span></a>
			<a href="#!email"><span class="white-text email">{{ user.Email }}</span></a>
			</div>
	</li>
	<li><a routerLink="/me"><i class="material-icons">account_circle</i>Perfil</a></li>
	<li><a href="#!"><i class="material-icons">settings</i>Configuración</a></li>
	<li><a routerLink="/app/rank">Rank</a></li>
	<li><a routerLink="/admin" class="waves-effect"><i class="material-icons">dashboard</i>Dashboard</a></li>
	<li><a href=""><i class="material-icons">exit_to_app</i>Salir</a></li>
</ul>
