<app-navbar></app-navbar>
<div class="container">
	<section class="challenge-content">
		<h3>Hashmat the Brave Warrior</h3>
	
		<p>Hashmat is a brave warrior who with his group of young soldiers moves from one place to another to fight against his opponents. Before Fighting he just calculates one thing, the difference between his soldier number and the opponent’s soldier number. From this difference he decides whether to fight or not. Hashmat’s soldier number is never greater than his opponent.</p>

		<h5>Input</h5>
		<p>The input contains two numbers in every line. These two numbers in each line denotes the number soldiers in Hashmat’s army and his opponent’s army or vice versa. The input numbers are not greater than 232. Input is terminated by ‘End of File’</p>

		<h5>Output</h5>
		<p>For each line of input, print the difference of number of soldiers between Hashmat’s army and his opponent’s army. Each output should be in seperate line.</p>

		<h5>Sample Input</h5>
		<pre>
		</pre>

		<h5>Sample Output</h5>
		<pre>
		</pre>		
	</section>
	
	<div class="solution-content">
		<h4>Subir código como archivo</h4>
		<div class="row">
			<div class="col-sm-8 remove-float center-block">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">Lenguaje:</label>
						<div class="col-sm-10">
							<select class="form-control">
								<option value="">Java</option>
								<option value="">C#</option>
							</select>	
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">Archivo fuente:</label>
						<div class="col-sm-10">
							<span class="btn btn-success btn-file">
							   Upload<input type="file">
							</span>
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-success pull-right">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>