<app-navbar></app-navbar>
<div class="container">
	<section class="challenge-content animated bounceInDown">
		<h3>{{ challenge.title }}</h3>
		<div [innerHTML]="challenge.descriptionHTML"></div>
	</section>

	<div class="solution-content row z-depth-1">
		<header class="teal title-toolbar">
			<span class="white-text">Subir código como archivo</span>
		</header>
		<form class="p-space">
			<div class="input-field">
				<select materialize="material_select">
					<option>Java</option>
					<option>C#</option>
				</select>
				<label class="control-label">Dificultad</label>
			</div>
			<div class="file-field input-field">
				<div class="btn">
					<span>File</span>
					<input type="file">
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text">
				</div>
			</div>
			<div class="input-field">
					<button class="btn btn-success pull-right">Enviar</button>
			</div>
		</form>
	</div>
</div>