<app-navbar></app-navbar>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-primary grow">
				<div class="panel-body">
			    	<a class="challenge-title">Hashmat the Brave Warrior</a>
			    	<b>Dificultad:</b>
			    	<span>Fácil</span>
			    	<a class="btn btn-success pull-right">Resolver</a>
				</div>
			</div>	
		</div>

			<div class="col-sm-6">
			<div class="panel panel-primary grow">
				<div class="panel-body">
			    	<a class="challenge-title">Back to High School Physics</a>
			    	<b>Dificultad:</b>
			    	<span>Dificil</span>
			    	<a class="btn btn-success pull-right">Resolver</a>
				</div>
			</div>	
		</div>


			<div class="col-sm-6">
			<div class="panel panel-primary grow">
				<div class="panel-body">
			    	<a class="challenge-title">Ecological Premium</a>
			    	<b>Dificultad:</b>
			    	<span>Medio</span>
			    	<a class="btn btn-success pull-right">Resolver</a>
				</div>
			</div>	
		</div>

				<div class="col-sm-6">
			<div class="panel panel-primary grow">
				<div class="panel-body">
			    	<a class="challenge-title">Machined Surfaces</a>
			    	<b>Dificultad:</b>
			    	<span>Medio</span>
			    	<a class="btn btn-success pull-right">Resolver</a>
				</div>
			</div>	
		</div>
	</div>
</div>