<app-navbar></app-navbar>
<header class="header indigo z-depth-1 animated fadeIn">
	<div class="profile-image">
		<img [src]="user.imageUrl? user.imageUrl : 'assets/avatar-default.png'" class="circle responsive-img center-block">
		<label for="file-picker" class="btn-floating btn-large waves-effect waves-light indigo darken-4">
			<i class="material-icons">attach_file</i>
		</label>
		<input type="file" id="file-picker" (change)="fileChangeEvent($event)" style="display: none;" >
	</div>
	<div class="profile-actions m-top animated fadeInDown" *ngIf="!!fileToUpload">
		<a class="waves-effect waves-light btn amber accent-3" (click)="saveImage()">
			Guardar
			<i class="material-icons left">done</i>
		</a>
		<a class="waves-effect waves-light btn red accent-2" (click)="cancelUpload()">
			Cancelar
			<i class="material-icons left">close</i>
		</a>
	</div>

	<h1>{{ user.username }}</h1>
	<span style="display: block;" class="white-text">{{ user.email }}</span>
  <span style="display: block;" class="white-text">{{ user.jobTitle }}</span>
</header>

<div class="container animated fadeIn">
	<div class="row m-space">
		<div class="col s12 m8 remove-float center-block">
			<section class="z-depth-1">
				<header class="indigo">
					<span class="white-text title-toolbar">Mi Perfil</span>
				</header>

				<form class="p-space">
					<div class="row">
						<div class="input-field col s6">
							<input type="text" placeholder id="name" name="name" [(ngModel)]="user.name">
							<label for="name">Nombres</label>
						</div>
            <div class="input-field col s6">
              <input type="text" placeholder id="surname" name="surname" [(ngModel)]="user.surname">
							<label for="surname">Apellidos</label>
            </div>
						<div class="input-field col s12">
							<input type="text" id="username" name="username" placeholder [(ngModel)]="user.username">
							<label for="username">Nombre de Usuario</label>
						</div>
						<div class="input-field col s12">
							<input type="email" id="email" name="email" placeholder [(ngModel)]="user.email">
							<label for="email">Email</label>
						</div>

						<div class="input-field col s12">
							<button class="waves-effect waves-light btn indigo darken-4 convert-block center-block">Guardar cambios</button>
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
</div>
