<div class="container">
	<div class="row">
		<div class="col s8 center-block remove-float m-big-top">
			<div class="z-depth-1">
				<header class="indigo darken-4">
					<h3 class="center title-form">Login</h3>
				</header>
				<form (ngSubmit)="onLoginSubmit()" class="form-horizontal p-half">
					<div class="row">
							<div class="input-field col s12">
									<button type="submit" class="btn btn-primary indigo darken-4" style="width: 100%;">
                    <i class="icon-windows"></i>
                    Ingresar con Microsoft
                  </button>
							</div>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>
