<app-navbar></app-navbar>
<header class="header indigo z-depth-1">
	<img [src]="user.imageUrl? user.imageUrl : '/assets/avatar-default.png'" class="circle responsive-img">
	<h1>{{ user.name }}</h1>
	<span class="white-text">{{ user.email }}</span>
</header>
<div class="container">
	<div class="row m-space">
		<div class="col s12 m7 remove-float center-block">
				<section class="z-depth-1">
					<header class="indigo">
					<span class="white-text title-toolbar">Información del Usuario</span>
				</header>
				<section class="p-space">
					<ul>
						<li>
							<strong>Nombre Completo</strong>
							<div>{{ user.name }}</div>
						</li>
						<li>
							<strong>Nombre de Usuario</strong>
							<div>{{ user.username }}</div>
						</li>
						<li>
							<strong>Correo Electrónico</strong>
							<div>{{ user.email }}</div>
						</li>
					</ul>
				</section>
			</section>
		</div>
	</div>
</div>