<div class="navbar-fixed">
  <nav class="indigo darken-4">
    <div class="nav-wrapper">
      <a routerLink="/app" class="brand-logo">IG Online Judge</a>
      <a materialize="sideNav" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/app/rank">
              <i class="material-icons left">equalizer</i>Rank
          </a>
        </li>
        <!-- Dropdown Trigger -->
        <li>
        	 <a materialize="dropdown" class="dropdown-button" data-activates="dropdown1">
    			   <img [src]="user.imageUrl? user.imageUrl : 'assets/avatar-default.png'" class="profile-img circle">
          	 {{ user.username }}<i class="material-icons right">arrow_drop_down</i>
           </a>
        </li>
      </ul>
    </div>
  </nav>

  <ul id="dropdown1" class="dropdown-content">
  	<li><a routerLink='/me'>Perfil</a></li>
  	<li class="divider"></li>
  	<li [hidden]="!user.isAdmin" ><a routerLink="/admin">Dashboard</a></li>
  	<li><a (click)="onLogoutClick()">Salir</a></li>
  </ul>
</div>
<app-sidenav></app-sidenav>

