<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" routerLink="/home">IG Online Judge</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a routerLink="/rank">
						<i class="glyphicon glyphicon-plus"></i>
						Rank
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<img src="assets/skrollex.png" class="img-circle profile-img">
				{{ user.username }}<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">{{ user.email }}</li>
						<li role="separator" class="divider"></li>
						<li><a routerLink="/me">Perfil</a></li>
						<li><a href="#">Configuración</a></li>
						<li><a routerLink="/dashboard">Dashboard</a></li>
						<li role="separator" class="divider"></li>
						<li><a (click)="onLogoutClick()">Salir</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
