/* You can add global styles to this file, and also import other style files */
.m-big-top{
    margin-top: 7rem;
}
.m-right{
    margin-right: 1rem;
}
.m-top{
    margin-top: 1rem;
}
.m-half-top{
    margin-top: 5rem;
}
.m-top-bottom{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.p-half{
    padding: 3.5rem;
}

.navbar-fixed-space{
    padding-top: 80px !important;
}

.remove-float{
    float: none !important;
}

.divider{
    margin: 8px 0;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.bg-bluewood{
    background-color: #2c3e50;
}

.grow { 
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.grow:hover { transform: scale(1.1); }

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}